.menuside{
    text-decoration: none;
    color: black;
}

ion-card {

    ion-icon {
      width: 75%;
      margin-top: 16px;
      font-size: 5em;
    }
    ion-badge {
        position: absolute;
        
        }
 }

 ion-icon{
     padding: 1px;
     padding-right: 10px;
 }