<ion-app>

  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>App imóveis</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>

      <!--SIDE MENU -->

      <ion-list>

        <ion-item>
          <ion-icon name="person-circle-outline"></ion-icon>

          <a href="" class="menuside" style="padding-left: 5px">Perfil</a>  
        </ion-item>

        <ion-item>
          <ion-icon name="person-add-outline"></ion-icon>

          <a href="" class="menuside" style="padding-left: 5px">Login</a>
        </ion-item>

        <ion-item>
          <ion-icon name="cog-outline"></ion-icon>

          <a href="" class="menuside" style="padding-left: 5px">Configurações</a>
        </ion-item>

        <ion-item>
          <ion-icon name="mail-outline"></ion-icon><ion-badge color="danger">2</ion-badge>

          <a href="" class="menuside" style="padding-left: 5px">E-mail</a>
        </ion-item>

        <ion-item>
          <ion-icon name="notifications"></ion-icon><ion-badge color="danger">5</ion-badge>

          <a href="" class="menuside" style="padding-left: 5px">Notificações</a>
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
