<ion-header style="background-color: white;">

  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-menu-button color="dark" class="menu1"></ion-menu-button>
    </ion-buttons>
    <ion-item>
      <ion-searchbar animated class="pesquisa"></ion-searchbar>
      <ion-icon class="icone1" name="logo-web-component"></ion-icon>
    </ion-item> 
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <!-- BOTOES ABAIXO TOOLBAR -->
  <ion-row class="barra" type="float">
    <ion-button class="botao">
      Apartamentos
    </ion-button>
    <ion-button class="botao">
      Casas | quintal
    </ion-button>
    <ion-button class="botao">
      Casas | andares
    </ion-button>

    <!-- TITULO APARTAMENTOS -->
  </ion-row>
  <h3 class="title1">
  Novos anuncios | Apartamentos
  </h3>
  


  <ion-grid class="slide1">
    <ion-col>
      <!-- SLIDES -->
      <ion-slides pager="true">

        <!-- 1 -->
        <ion-slide>
          <ion-card class="card-slide">
            <img src="https://resizedimgs.vivareal.com/crop/286x200/vr.images.sp/531a66185c2bd464b417cd65e972ac47.jpg" alt="">
            <ion-card-header>
              <ion-card-subtitle>Apartamento SP - São Paulo</ion-card-subtitle>
              <ion-card-title>
                <ion-button class="preco" color="success">
                 R$900,00 
                </ion-button>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p class="parar">Apartamento 60m², 2 quartos, 1 banheiro, 1 cozinha e 1 sala de estar</p>
            </ion-card-content>
          </ion-card>
        </ion-slide>

        <!-- 2 -->
        <ion-slide>
          <ion-card class="card-slide">
            <img src="../../assets/images/ap6.jpeg" alt="">
            <ion-card-header>
              <ion-card-subtitle>Apartamento SC - Balneário Camboriú</ion-card-subtitle>
              <ion-card-title>
                <ion-button class="preco" color="success">
                 R$650,00 
                </ion-button>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p class="parar">Apartamento 35m², 1 quarto, 1 banheiro, 1 cozinha e 1 sala de estar</p>
            </ion-card-content>
          </ion-card>
        </ion-slide>

        <!-- 3 -->
        <ion-slide>
          <ion-card class="card-slide">
            <img src="../../assets/images/ap5.jpg" alt="">
            <ion-card-header>
              <ion-card-subtitle>Apartamento SP - São Paulo</ion-card-subtitle>
              <ion-card-title>
                <ion-button class="preco" color="success">
                 R$1590,00 
                </ion-button>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p class="parar">Apartamento 72m², 3 quartos, 2 banheiros, 1 cozinha e 1 sala de estar</p>
            </ion-card-content>
          </ion-card>
        </ion-slide>

        <!-- 4 -->
        <ion-slide>
          <ion-card class="card-slide">
            <img src="../../assets/images/ap3.jpg" alt="">
            <ion-card-header>
              <ion-card-subtitle>Apartamento SP - São Paulo</ion-card-subtitle>
              <ion-card-title>
                <ion-button class="preco" color="success">
                 R$2530,00 
                </ion-button>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p class="parar">Apartamento 87m², 3 quartos, 2 banheiros, 1 cozinha, 1 sala de estar e piscina | ultimo andar</p>
            </ion-card-content>
          </ion-card>
        </ion-slide>

      </ion-slides>
    </ion-col>
  </ion-grid>

  <!-- TITULO CASAS -->
  <h3 class="title1">
    Casas  
  </h3>
    <ion-grid class="slide1">
      <ion-col>

        <!-- SLIDES CASAS -->
        <ion-slides pager="true">

          <!-- 1 -->
          <ion-slide>
            <ion-card class="card-slide">
              <img src="../../assets/images/ap8.jpg" alt="">
              <ion-card-header>
                <ion-card-subtitle>Casa SP - São Paulo</ion-card-subtitle>
                <ion-card-title>
                  <ion-button class="preco" color="success">
                   R$823,00 
                  </ion-button>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p class="parar">Apartamento 85m², 3 quartos, 1 banheiro, 1 cozinha e 1 sala de estar</p>
              </ion-card-content>
            </ion-card>
          </ion-slide>

          <!-- 2 -->
          <ion-slide>
            <ion-card class="card-slide">
              <img src="../../assets/images/ap6.jpg" alt="">
              <ion-card-header>
                <ion-card-subtitle>Casa SC - Urubuci</ion-card-subtitle>
                <ion-card-title>
                  <ion-button class="preco" color="success">
                   R$685,00 
                  </ion-button>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p class="parar">Casa 90m², 2 quartos, 1 banheiro, 1 cozinha e 1 sala e sala de estar</p>
              </ion-card-content>
            </ion-card>
          </ion-slide>

          <!-- 3 -->
          <ion-slide>
            <ion-card class="card-slide">
              <img src="../../assets/images/ap7.jpg" alt="">
              <ion-card-header>
                <ion-card-subtitle>Casa MG - Gonçalves</ion-card-subtitle>
                <ion-card-title>
                  <ion-button class="preco" color="success">
                   R$900,00 
                  </ion-button>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p class="parar">Casa 72m², 2 quartos, 1 banheiro, 1 cozinha e 1 sala de estar</p>
              </ion-card-content>
            </ion-card>
          </ion-slide>

          <!-- 4 -->
          <ion-slide>
            <ion-card class="card-slide">
              <img src="../../assets/images/ap.jpg" alt="">
              <ion-card-header>
                <ion-card-subtitle>Casa SP - Pindamonhangaba</ion-card-subtitle>
                <ion-card-title>
                  <ion-button class="preco" color="success">
                   R$630,00 
                  </ion-button>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p class="parar">Casa 82m², 2 quartos, 1 banheiro, 1 cozinha, 1 sala de estar e quintal</p>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-grid>

</ion-content>
