.barra {
  width: stretch;
  height: 55px;
  background-color: rgb(176, 223, 197);
}

.pesquisa{
  height: 40px;
  width: 300px;
  border: 3px;
}

.icone1{
  width: 36px;
  height: 36px;
  padding: 4px;
  padding-left: 10px;
  
}

.menu1{
  width: 45px;
  height: 45px;
}

.home{
  height: stretch;
  width: 900px;
  background-color: rgb(255, 255, 255);

}

.parar{
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 5px;
  text-align: justify;
}

.slide1{
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ion-card-header{
  padding: 0px;
}

ion-card-subtitle{
  padding-top: 6px;
}

ion-card-title{
  align-items: center;
  text-align: center;
  display: flex;
  padding: 20px;
  height: 46px;
  flex-direction: row;
  justify-content: center;
}

img{
  height: 200px;
  width: 300px;
}

.preco{
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  padding: 4px;
  justify-content: center;
  border-radius: 6px;
}

ion-header{  
padding: 5px;
}

.card-slide{
  border-radius: 20px;
  padding: 2px;
  padding-top: 19px;
  width: 360px;
  height: 410px;
}

.title1{
  padding-left: 20px;
  font-size: 17px;
}

ion-grid{
  padding: 0px;
}
ion-col{
  padding:0px
}

.botao{
  width: 124px;
  height: 43px;
  padding-left: 11px;
  padding-top: 7px;
  padding-bottom: 5px;
  font-size: 11px;
}